<div class="employee">
    <div class="profile">
        <div class="name">
            <h2>{{ name }}</h2>
        </div>

        <div class="title">
            <i class="fa-solid fa-mug-hot"></i>
            <h3>{{ role }}</h3>   
        </div>
    </div>

    <div class="information">
        <ul class="unorder-list">
            <li>ID: {{ id }}</li>
            <li>Email: <a href="mailto: {{ email }}">{{ email }}</a></li>
            <li>Office Number: {{ officeNumber }}</li>            
        </ul>
    </div>
</div>